{% extends "_base.html" %}

{% block content %}

<h2>Todos os Pads</h2>

{% for pad in all_pads %}
<hr>
<div class="pad">
    <h4><a href="/view/{{ pad.pad_id }}">{{ pad.pad_title }}</a></h4>
    <p>{{ pad.pad_content_preview }}</p>
    <small>Por:
        <a href="/proprietario" title="Clique para ver detalhes de '{{ pad.own_display_name }}'...">
            <img src="{{ pad.own_photo_url }}" alt="Foto de {{ pad.own_display_name }}" class="rounded-circle" width="30" referrerpolicy="no-referrer">
            {{ pad.own_display_name }}
        </a>
        em {{ pad.pad_created_at }}
    </small>
</div>
{% endfor %}

{% endblock %}