{% extends "_base.html" %}

{% block content %}

<h2>{{ pad.pad_title}}</h2>

<textarea name="" id="">{{ pad.pad_content}}</textarea>

<div>

                <small class="text-muted d-flex align-items-center gap-2">
                    <img src="{{ pad.own_photo_url }}" alt="{{ pad.own_display_name }}"
                        class="rounded-circle" width="28" height="28" referrerpolicy="no-referrer">
                    <span>
                        Por
                        <a href="/owner/{{pad.pad_owner}}" title="Ver detalhes de {{ pad.own_display_name }}.">
                            <strong>{{ pad.own_display_name }}</strong></a><br>
                        Em <em>{{ pad.pad_created_at }}</em>
                    </span>
                </small>

                {% if is_owner %}
é dono
                {% endif %}


</div>

{% endblock %}